<div class="error404">
<div class="container">
<!-- <h1>{{ 'general.404.title' | t }}</h1>
<p>{{ 'general.404.subtext_html' | t }}</p> -->
				<p class="pnf-heading">404</p>
				<div class="text-wrap">					
					<h1>Sorry page not found</h1>
					<p>{{ 'general.404.subtext_html' | t }}</p>
				</div>
				<p class="home-link"><a href="/"><span class="icon-home">go to home</span></a></p>
			</div>
</div>
